.filterWrapper {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 14px;
  margin: 0 auto 30px;
  background-color: black;
  @media (768px<=width) {
    width: 550px;
  }
}

.filterParagraph {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
  max-width: 295px;
  color: #fff;
  @media (768px<=width) {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    width: 480px;
    max-width: 480px;
    margin-bottom: 14px;
  }
  @media (1440px<=width) {
    font-size: 18px;
  }
}

.filterInput {
  width: 100%;
  max-width: 335px;
  height: 36px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  padding: 14px 10px 14px 18px;
  line-height: 1.25;
  color: #fff;
  @media (768px<=width) {
    width: 520px;
    max-width: 520px;
    height: 45px;
    flex-shrink: 0;
  }
}
