.homeSection {
  padding: 180px 0;
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../../assets/img/hero-bg_mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 320px;
  margin: 0 auto;

  @media (min-resolution: 192dpi) {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../assets/img/hero-bg_mob@2x.jpg");
  }

  @media (768px<=width) {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../assets/img/hero-bg_tab.jpg");
  }

  @media (768px<=width) and (min-resolution: 192dpi) {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../assets/img/hero-bg_tab@2x.jpg");
  }

  @media (1440px <= width) {
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../assets/img/hero-bg_desk.jpg");
  }

  @media (1440px<=width) and (min-resolution: 192dpi) {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../assets/img/hero-bg_desk@2x.jpg");
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 220px;
  text-transform: uppercase;
  margin: 0 auto 30px;
  color: white;
}

.text {
  text-align: center;
  /* max-width: 250px; */
  font-size: 16px;
  margin: 0 auto;
  color: white;
}
