.formWrapper {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 30px;
  background-color: black;

  @media (768px<=width) {
    width: 400px;
  }
}

.formBtn {
  border-radius: 12px;
  background: white;
  color: black;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-transform: uppercase;
  display: flex;
  width: 100%;
  max-width: 335px;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  @media (768px<=width) {
    display: inline-flex;
    width: 340px;
    max-width: 340px;
    height: 60px;
    font-size: 18px;
    line-height: 1.55;
  }
}

.formBtn:hover {
  background-color: gray;
  color: #fff;
}

.formParagraph {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-bottom: 32px;

  color: #fff;
  @media (768px<=width) {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    margin-bottom: 26px;
  }
}

.formInput {
  width: 100%;
  max-width: 335px;
  height: 46px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  margin-bottom: 8px;
  padding: 14px 10px 14px 18px;
  line-height: 1.25;
  color: #fff;
  @media (768px<=width) {
    width: 340px;
    max-width: 340px;
    height: 60px;
    flex-shrink: 0;
    margin-bottom: 14px;
  }
}

.error {
  color: red;
}
