.homeSection {
  padding: 72px 0;
  background-color: #2e2f42;

  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../../assets/img/hero-bg_mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 320px;
  margin: 0 auto;

  @media (min-resolution: 192dpi) {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../assets/img/hero-bg_mob@2x.jpg");
  }

  @media (768px<=width) {
    padding: 180px 0;
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../assets/img/hero-bg_tab.jpg");
  }

  @media (768px<=width) and (min-resolution: 192dpi) {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../assets/img/hero-bg_tab@2x.jpg");
  }

  @media (1440px <= width) {
    padding: 260px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../assets/img/hero-bg_desk.jpg");
  }

  @media (1440px<=width) and (min-resolution: 192dpi) {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../assets/img/hero-bg_desk@2x.jpg");
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 220px;
  text-transform: uppercase;
  margin: 0 auto 50px;
  color: white;
  @media (768px<=width) {
    font-size: 40px;
    max-width: 520px;
  }
  @media (1440px<=width) {
    font-size: 48px;
    max-width: 620px;
  }
}
.visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.text {
  text-align: center;
  /* max-width: 250px; */
  font-size: 16px;
  margin: 0 auto;
  color: white;
}
.usageList {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: center;
  margin: 0 auto;
  max-width: 230px;
  border-radius: 8px;
  @media (768px<=width) {
    max-width: 600px;
    justify-content: flex-start;
  }
  @media (1440px <=width) {
    max-width: 1000px;
    justify-content: center;
  }
}

.usageItem {
  color: white;
  padding: 20px;

  max-width: 200px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (1440px <= width) {
  .usageItem:not(:last-child) {
    border-right: solid 1px rgba(255, 255, 255, 0.2);
  }
}

.homePageIcon {
  border: solid 1px rgba(255, 255, 255, 0.2);
  padding: 8px;
  border-radius: 50px;
  color: gray;
}
