.userMenuWrapper {
  display: flex;
  gap: 20px;
}
.userMenuWelcome {
  font-style: italic;
}
.userMenuUserName {
  color: indianred;
}
.logOutButton {
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
}
