.userMenuWrapper {
  display: flex;
  gap: 20px;
}
.userMenuWelcome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.logOutButton {
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exitIcon {
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.exitIcon:hover {
  color: gray;
}
